.admin {
  .mobileToolbar {
    display: none;
    height: 75px;

    div {
      p {
        color: var(--green);
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 2px solid var(--green);
      }
    }

    @media screen and (max-width: 950px) {
      display: block;
    }
  }

  .toolbar {
    padding: 20px 30px;
    border-radius: 14px;
    background-color: var(--background);
    margin-bottom: 22px;

    @media screen and (max-width: 950px) {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 36px;

      @media screen and (max-width: 1366px) {
        gap: 16px;
      }

      li {
        white-space: nowrap;
        cursor: pointer;
        padding: 0 14px;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;

        padding-bottom: 10px;

        @media screen and (max-width: 1366px) {
          padding: 0 10px;
          padding-bottom: 10px;
          font-size: 16px;
        }
      }

      .active {
        color: var(--green);
        border-bottom: 2px solid var(--green);
      }
    }
  }
}
